# Doc on https://github.com/prometheus/alertmanager
# Full extensive doc on https://prometheus.io/docs/alerting/latest/configuration/
global:
  resolve_timeout: 5m
  smtp_from: jean.pommier@pi-geosolutions.fr
#  smtp_smarthost:
#  smtp_auth_username:
#  smtp_auth_password:

route:
  # The root route must not have any matchers as it is the entry point for
  # all alerts. It needs to have a receiver configured so alerts that do not
  # match any of the sub-routes are sent to someone.
  receiver: team-sysadmin
  group_by: ['alertname', 'cluster', 'app']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  routes:
  # This route performs a regular expression match on alert labels to
  # catch alerts that are related to a list of services.
  - matchers:
#    - service=~"^(foo1|foo2|baz)$"
    - app=~"^(hyfaa|sagui)$"
    receiver: team-sysadmin

receivers:
  - name: team-sysadmin
#    email_configs:
#      - to: 'jean.pommier@pi-geosolutions.fr'
#        send_resolved: true
